<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Coin Combination</title>
</head>
<body>
    <div class = 'container'>
        <h1>Coin Combination</h1>
        <form action = /combination>
            <div class='form-group'>
                <label for ='amount'>The amount you would like to make change for</label>
                    <input id = 'amount' name = 'amount' type = 'number' class = 'form-control'>
                    <button type='submit' class='btn-success'>combination</button>
                </div>
            </form>
        </div>
</body>
</html>
