<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Coin Combination</title>
</head>
<body>
    <h1>Coin Combination</h1>
        <h3>{{ combinations }}</h3>

    <a href='/'>back home</a>
</body>
</html>
